* {
    box-sizing:border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color:#ccc
}

header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top:0;
}

.nav-bar {
  position: fixed;
  background-color: #333;
  overflow: hidden;
}

.nav-link {
  float: right;
  color: #ccc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-link:hover {
    background-color: #ccc;
    color: black;
}

#home {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 2em;
}

.div1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
}

#home form {
    flex-direction:column;
    justify-content: center;
    margin: 2em;  
}

#form #email {
    width: 300px;
    border: 1px solid transparent;
    border-radius: 0%;
    display: flex;
    position: relative;
    margin-left: 30px;
    text-align:center;
}

#form #submit {
    padding: 10px;
    margin-top: 10px;
    width: 100px;
    position:relative;
    border: 0px solid transparent;
    border-radius: 7px;
}

#form #submit:hover {
    background-color: #666;
    color: #fff;
    box-shadow: 0px 0px 10px #666;
    border: 2px solid transparent;
}

#form #submit:active {
    background-color: #01ff00;
    color: #000;
    box-shadow: 0 0 10px #000;
    border: 2px solid transparent;
}

@media only screen and (max-width: 700px) {
    header {
        background-color: black;
    }
}